<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h5>PAGE DE CONSULTATION D'UN CONTRAT PRET</h5>
<p>
<table >
    <tr><td>Eleve : </td><td>{{contratPret.eleve.nom}} {{contratPret.eleve.prenom}}</td>
    <tr><td>Responsable : </td><td>{{contratPret.eleve.responsables[0].nom}} {{contratPret.eleve.responsables[0].prenom}}</td>
    <tr><td>Date de debut : </td><td>{{contratPret.datedebut|date("d/m/Y")}} etat de l'instrument : {{contratPret.etatdetailledebut}} </td></tr>
    <tr><td>Date de fin : </td><td>{{contratPret.datefin|date("d/m/Y")}} etat de l'instrument : {{contratPret.etatdetailleretour}}</td></tr>
    <tr><td>Attestation d'assurance : </td><td>{{contratPret.Attestationassurance}} </td></tr>

</table>
</body>
</html>

