{% extends 'base.html.twig' %}

{% block title %}Consulter{% endblock %}

{% block body %}
<h3>Prêt de {{contratPret.instrument.nom}} (serie {{contratPret.instrument.numserie}}) de type {{contratPret.instrument.type.libelle}}</h3>
<p>
<table >

    <tr><td>Eleve : </td><td>{{contratPret.eleve.nom}} {{contratPret.eleve.prenom}}</td>
    <tr><td>Responsables de l'élève: </td>
        <td>
            {% for responsable in contratPret.eleve.responsables %}
                {{ responsable.nom }} {{ responsable.prenom }},
            {% endfor %}
        </td>
    <tr><td>Date de debut : </td><td>{{contratPret.datedebut|date("d/m/Y")}} état de l'instrument : {{contratPret.etatdetailledebut}} </td></tr>
    <tr><td>Date de fin : </td><td>{{contratPret.datefin|date("d/m/Y")}} état de l'instrument : {{contratPret.etatdetailleretour}}</td></tr>
    <tr><td>Attestation d'assurance : </td><td>{{contratPret.Attestationassurance}} </td></tr>

</table>
{% endblock %}

