<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>

<h2>LISTE DES CONTRATS DE PRÊT</h2>

<table border="1">
    <tr>
        <th>Instrument</th>
        <th>Type de l'instrument</th>
        <th>Date Début</th>
        <th>Date Fin</th>
        <th>Nom élève</th>
        <th>Prénom élève</th>
        <th>Responsables</th>

    </tr>

    {% for c in pContratPret %}
        <tr>
            {% if c.instrument is defined %}

                <td><a href="{{ path('ContratPretConsulter', { 'id': c.id }) }}">{{ c.instrument.nom }}</td>
                <td>{{ c.instrument.type.libelle }}</td>

            {% endif %}

                <td>{{ c.dateDebut|date('d/m/Y') }}</td>
                <td>{{ c.dateFin|date('d/m/Y')}}</td>

            {% if c.eleve is defined %}

                <td>{{ c.eleve.nom }}</td>
                <td>{{ c.eleve.prenom }}</td>
                <td>{% for responsable in c.eleve.responsables %}
                        {{ responsable.nom }},
                    {% endfor %}</td>

            {% endif %}


        </tr>
    {% endfor %}

    {% if pContratPret is empty %}
        <tr>
            <td colspan="8">Aucun contrat de prêt n'a été trouvé.</td>
        </tr>
    {% endif %}
</table>

{% block javascripts %}{% endblock %}

</body>
</html>

