<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h5>PAGE DE CONSULTATION D'UN INSTRUMENT</h5>
    <p>
    <table border="2px">
        <tr><td style="text-align: center">Nom : </td><td style="text-align: center"> {{instrument.type.libelle}} : {{instrument.Nom}}</td><td  rowspan="8">{% set photo = 'img/' ~  instrument.type.libelle  ~ '.jpg' %}<span class="zoom"><img  style="height: 200px; width: 200px;" src="{{ asset(photo | trans )}}" alt="{{ instrument.type.classe.libelle ~ " " ~ instrument.type.libelle }}"/></span></td>
        <tr><td style="text-align: center">Marque : </td><td style="text-align: center">{{instrument.marque.libelle}}</td></tr>
        <tr><td style="text-align: center">numéro de série : </td><td style="text-align: center">{{instrument.numSerie}}</td></tr>
        <tr><td style="text-align: center">Date d'achat : </td><td style="text-align: center">{{instrument.dateAchat|date("d/m/Y")}}</td></tr>
        <tr><td style="text-align: center">Prix d'achat : </td><td style="text-align: center">{{instrument.prixAchat}} €</td></tr>
        <tr><td style="text-align: center">Utilisation : </td><td style="text-align: center">{{instrument.utilisation}}</td></tr>
    </table>

    <br>

    <table border="2px">
        <tr style="text-align: center">
            <td>DATE DE DEBUT</td>
            <td>DATE DE FIN</td>
            <td>PROFESSIONNEL</td>
            <td>DESCRIPTIF</td>
            <td>PRIX</td>
        </tr>

        <br>
        <br>

        {% for intervention in instrument.interventions %}
            <tr style="text-align: center">
                <td>{{ intervention.dateDebut|date("d/m/Y") }}</td>
                <td>{{ intervention.dateFin|date("d/m/Y") }}</td>
                <td>{{ intervention.professionnel.nom }} <br> {{ intervention.professionnel.numRue }} {{ intervention.professionnel.rue }} <br> {{ intervention.professionnel.copos }} {{ intervention.professionnel.ville }}</td>
                <td>{{ intervention.descriptif }}</td>
                <td>{{ intervention.prix }} €</td>

            </tr>
        {% else %}
            <tr>
                <td>Aucune intervention n'a été trouvé.</td>
            </tr>
        {% endfor %}

    </table>

</body>
</html>