<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h5>PAGE DE CONSULTATION D'UN INSTRUMENT</h5>
    <p>
    <table border="2px">
        <tr><td>Id : </td><td>{{instrument.id}} </td></tr>
        <tr><td>Nom : </td><td> {{instrument.type.libelle}} : {{instrument.Nom}}</td>
        <tr><td>Marque de l'instrument : </td><td>{{instrument.marque.libelle}}</td></tr>
        <tr><td>numéro de série de l'instrument : </td><td>{{instrument.numSerie}}</td></tr>
        <tr><td>Date d'achat de l'instrument : </td><td>{{instrument.dateAchat|date("d/m/Y")}}</td></tr>
        <tr><td>Prix d'achat de l'instrument : </td><td>{{instrument.prixAchat}} €</td></tr>
        <tr><td>Utilisation de l'instrument : </td><td>{{instrument.utilisation}}</td></tr>
    </table>

    <br>

    <table border="2px">
        <tr>
            <td>DATE DE DEBUT</td>
            <td>DATE DE FIN</td>
            <td>Professionnel</td>
            <td>DESCRIPTIF</td>
            <td>PRIX</td>
        </tr>

        <br>
        <br>

        {% for intervention in pInterventions %}
            <tr>
                <td>{{ intervention.dateDebut|date("d/m/Y") }}</td>
                <td>{{ intervention.dateFin|date("d/m/Y") }}</td>
                <td>{{ intervention.professionnel.nom }} <br> {{ intervention.professionnel.numRue }} {{ intervention.professionnel.rue }} <br> {{ intervention.professionnel.copos }} {{ intervention.professionnel.ville }}</td>
                <td>{{ intervention.descriptif }}</td>
                <td>{{ intervention.prix }} €</td>

            </tr>
        {% else %}
            <tr>
                <td>Aucune intervention n'a été trouvé.</td>
            </tr>
        {% endfor %}

    </table>

</body>
</html>