{% extends 'base.html.twig' %}

{% block title %}Consulter un instrument{% endblock %}

{% block body %}
    <div class="card" style="box-shadow: lightgrey 1px 1px 10px 1px">
        <div class="card-body">
            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                <div class="mb-3 mb-sm-0">
                    <h3 class="card-title fw-semibold mb-4">Fiche de l'instrument : {{ instrument.nom }}</h3>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="mb-3 mb-sm-0">
                        <a href="/23JELMUSIC/public/instrument/modifier/{{ instrument.id }}"><button type="button" class="btn btn-primary m-1">Modifier</button></a>
                    </div>
                {% endif %}
            </div>
            <table border="1px" class="table text-nowrap mb-0 align-middle">
                <tr><td style="text-align: center">Nom : </td><td style="text-align: center"> {{instrument.type.libelle}} : {{instrument.Nom}}</td><td  rowspan="6">{% set photo = 'img/' ~  instrument.type.libelle  ~ '.jpg' %}<span class="zoom"><img  style="height: 200px; width: 200px;" src="{{ asset(photo | trans )}}" alt="{{ instrument.type.classe.libelle ~ " " ~ instrument.type.libelle }}"/></span></td>
                <tr><td style="text-align: center">Marque : </td><td style="text-align: center">{{instrument.marque.libelle}}</td></tr>
                <tr><td style="text-align: center">numéro de série : </td><td style="text-align: center">{{instrument.numSerie}}</td></tr>
                <tr><td style="text-align: center">Date d'achat : </td><td style="text-align: center">{{instrument.dateAchat|date("d/m/Y")}}</td></tr>
                <tr><td style="text-align: center">Prix d'achat : </td><td style="text-align: center">{{instrument.prixAchat}} €</td></tr>
                <tr><td style="text-align: center">Utilisation : </td><td style="text-align: center">{{instrument.utilisation}}</td></tr>
                <tr><td style="text-align: center">Couleurs :</td>{% for couleur in instrument.couleurs %}<td style="text-align: center">{{ couleur.nom | default('N/A') }}</td>{% endfor %}</tr>
            </table>
        </div>
    </div>

    <br>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="card">
        <div class="card-body">
            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                <div class="mb-3 mb-sm-0">
                    <h3 class="card-title fw-semibold mb-4">Liste des interventions de l'instrument : {{ instrument.nom }}</h3>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div>
                        <a href={{ path('InterventionAjouter', {'instrumentId': instrument.id}) }}><button type="button" class="btn btn-primary m-1">Ajouter</button></a>
                    </div>
                {% endif %}
            </div>
            <table border="1px" style="text-align: center" class="table text-nowrap mb-0 align-middle">
                <tr class="tableauConsulterTitre">
                    <td>DATE <br>DE DEBUT</td>
                    <td>DATE <br>DE FIN</td>
                    <td>PROFESSIONNEL</td>
                    <td>DESCRIPTIF</td>
                    <td>PRIX</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>ACTION</td>
                    {% endif %}
                </tr>
                {% for intervention in instrument.interventions %}
                    <tr style="text-align: center">
                        <td style="padding: 10px">{{ intervention.dateDebut|date("d/m/Y") }}</td>
                        <td style="padding: 10px">{{ intervention.dateFin|date("d/m/Y") }}</td>
                        <td style="padding: 10px">{{ intervention.professionnel.nom }} <br> {{ intervention.professionnel.numRue }} {{ intervention.professionnel.rue }} <br> {{ intervention.professionnel.copos }} {{ intervention.professionnel.ville }}</td>
                        <td style="padding: 10px">{{ intervention.descriptif }}</td>
                        <td style="padding: 10px">{{ intervention.prix }} €</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="/23JELMUSIC/public/intervention/modifier/{{ intervention.id }}">✏️</a></td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td>Aucune intervention n'a été trouvé.</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
    <a href="/23JELMUSIC/public/instrument/lister"><button type="button" class="btn btn-primary m-1">Retour</button></a>
    <br>
    <br>
    <br>

{% endblock %}