<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h5>PAGE DE CONSULTATION D'UN INSTRUMENT</h5>
<p>
<table >
    <tr><td>Id : </td><td>{{instrument.id}} </td></tr>
    <tr><td>Nom : </td><td>{{instrument.Nom}}</td>
    <tr><td>Marque de l'instrument : </td><td>{{instrument.marque.libelle}}</td></tr>
    <tr><td>Type de l'instrument : </td><td>{{instrument.type.libelle}}</td></tr>
    <tr><td>numéro de série de l'instrument : </td><td>{{instrument.numSerie}}</td></tr>
    <tr><td>Date d'achat de l'instrument : </td><td>{{instrument.dateAchat|date("d/m/Y")}}</td></tr>
    <tr><td>Prix d'achat de l'instrument : </td><td>{{instrument.prixAchat}}</td></tr>
    <tr><td>Utilisation de l'instrument : </td><td>{{instrument.utilisation}}</td></tr>

</table>

</body>
</html>