{% extends 'base.html.twig' %}

{% block title %}ListerInstrument{% endblock %}
    {% block stylesheets %}{% endblock %}
{% block body %}
<div class="card" style="box-shadow: lightgrey 1px 1px 10px 1px; margin-left: -100px">
    <div class="card-body">
        <div class="card-body p-4">
            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                <div class="mb-3 mb-sm-0">
                    <h3 class="card-title fw-semibold mb-4">LISTE DES INSTRUMENTS</h3>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div>
                        <a href="/23JELMUSIC/public/instrument/ajouter"><button type="button" class="btn btn-primary m-1">Ajouter</button></a>
                    </div>
                {% endif %}
            </div>

            <div class="table-responsive">
                <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                    <tr>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">NOM</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">MARQUE</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">CLASSE</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">NUM SERIE</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">DATE D'ACHAT</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">PRIX D'ACHAT</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">UTILISATION</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">COULEURS</h6>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for instrument in pInstruments %}

                        <tr>
                            <td><a href="{{ path('instrumentConsulter', { 'id': instrument.id }) }}">{{ instrument.type.libelle }} : {{ instrument.nom }}</a></td>
                            <td>{{ instrument.marque.libelle }}</td>
                            <td>{{ instrument.type.classe.libelle }}</td>
                            <td>{{ instrument.numSerie }}</td>
                            <td>{{ instrument.dateAchat|date("d/m/Y") }}</td>
                            <td>{{ instrument.prixAchat }} €</td>
                            <td>{{ instrument.utilisation }}</td>
                            {% for couleur in instrument.couleurs %}
                                <td>{{ couleur.nom | default('N/A') }}</td>
                            {% endfor %}


                        </tr>
                    {% else %}
                        <tr>
                            <td>Aucun instrument n'a été trouvé.</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
        {% endblock %}
{% block javascripts %}{% endblock %}