{% extends 'base.html.twig' %}

{% block title %} {{ professionnel.nom }}{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            <div class="mb-3 mb-sm-0">
                <h5 class="card-title fw-semibold">Profil du professionnel {{ professionnel.nom }}</h5>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="mb-3 mb-sm-0">
                    <a href="/23JELMUSIC/public/professionnel/modifier/{{ professionnel.id }}"><button type="button" class="btn btn-primary m-1">Modifier</button></a>
                </div>
            {% endif %}
        </div>
        <div class="table-responsive">
            <table class="table text-nowrap mb-0 align-middle ">
                <tr><td>Nom : </td><td>{{ professionnel.nom }}</td></tr>
                <tr><td>Adresse : </td><td>{{ professionnel.numRue }} {{ professionnel.rue }} <br> {{ professionnel.copos }} {{ professionnel.ville }}</td></tr>
                <tr><td>Téléphone : </td><td>{{ professionnel.tel}}</td></tr>
                <tr><td>Mail : </td><td>{{ professionnel.mail }}</td></tr>
                <tr><td>metier : </td>
                    {% for metier in professionnel.metier %}
                        <td>{{ metier.libelle | default('N/A') }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
</div>

    <br>
    <div class="card">
        <div class="card-body">
            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                <div class="mb-3 mb-sm-0">
                    <h3 class="card-title fw-semibold mb-4">Liste des interventions</h3>
                </div>
            </div>
            <table border="1px" style="text-align: center" class="table text-nowrap mb-0 align-middle">
                <tr class="tableauConsulterTitre">
                    <td>DATE <br>DE DEBUT</td>
                    <td>DATE <br>DE FIN</td>
                    <td>INSTRUMENT :</td>
                    <td>DESCRIPTIF</td>
                    <td>PRIX</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>ACTION</td>
                    {% endif %}
                </tr>

                {% for intervention in professionnel.interventions %}
                    <tr style="text-align: center">
                        <td style="padding: 10px">{{ intervention.dateDebut|date("d/m/Y") }}</td>
                        <td style="padding: 10px">{{ intervention.dateFin|date("d/m/Y") }}</td>
                        <td style="padding: 10px">{{ intervention.instrument.nom }} </td>
                        <td style="padding: 10px">{{ intervention.descriptif }}</td>
                        <td style="padding: 10px">{{ intervention.prix }} €</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="/23JELMUSIC/public/intervention/modifier/{{ intervention.id }}">✏️</a></td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td>Aucune intervention n'a été trouvé.</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    <a href="/23JELMUSIC/public/professionnel/lister"><button type="button" class="btn btn-primary m-1 ">Retour</button></a>
    <br>
    <br>
    <br>
{% endblock %}

