{% extends 'base.html.twig' %}

{% block title %}Professionnel{% endblock %}
    {% block stylesheets %}{% endblock %}
{% block body %}
<div class="card">
<div class="card-body p-4">
    <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
        <div class="mb-3 mb-sm-0">
            <h5 class="card-title fw-semibold">LISTE DES PROFESSIONNEL</h5>
        </div>
        <div>
            <a href="{{ path('ProfessionnelAjouter') }}" class="btn btn-primary m-1">Ajouter</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
            <tr>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Nom</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Adresse</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Téléphone</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Mail</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Metiers</h6>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for p in pProfessionnel %}
                <tr>
                    <td><a href="{{ path('ProfessionnelConsulter', {'id': p.id}) }}">{{ p.nom }}</td>
                    <td>{{ p.numRue }} {{ p.rue }} <br> {{ p.copos }} {{ p.ville }}</td>
                    <td>{{ p.tel }}</td>
                    <td>{{ p.mail }}</td>
                    {% for metier in p.metier %}
                        <td>{{ metier.libelle | default('N/A') }}</td>
                    {% endfor %}

                </tr>
            {% endfor %}

            {% if pProfessionnel is empty %}
                <tr>
                    <td colspan="8">Aucun professionnel de prêt n'a été trouvé.</td>
                </tr>
            {% endif %}

            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}
{% block javascripts %}{% endblock %}


