<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h5>PAGE DE CONSULTATION D'UN COURS</h5>
<p>
<table >
    <tr><td>Id : </td><td>{{cours.id}} </td></tr>
    <tr><td>Libelle : </td><td>{{cours.libelle}}</td>
    <tr><td>Age Minimum : </td><td>{{cours.age_mini}}</td></tr></tr>
    <tr><td>Heure de début : </td><td>{{cours.heure_debut}}</td></tr>
    <tr><td>Heure de fin : </td><td>{{cours.heure_fin}}</td></tr>
    <tr><td>Nombre de places : </td><td>{{cours.nb_places}}</td></tr>
    <tr><td>Age Maximum : </td><td>{{cours.age_maxi}}</td></tr>
</table>
</body>
</html>