<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LISTE DES COURS{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

<h5>LISTE DES COURS :</h5>
<table border="2px">
    <tr>
        <td>Instrument</td>
        <td>Jours du cours</td>
        <td>Heure de début</td>
        <td>Heure de fin</td>
        <td>Âge maximum</td>
        <td>Âge minimum</td>
        <td>Nombre de place</td>
    </tr>

    {% for c in pCours %}

        <tr>
        <td><a href="{{ path('coursConsulter', { 'id': c.id }) }}">{{ c.typeInstruments.libelle }}</a></td>
        <td>{{c.jours.libelle}}</td>
        <td>{{c.heuredebut|date('H:i')}}</td>
        <td>{{c.heurefin|date('H:i')}}</td>
        <td>{{c.agemaxi}}</a></td>
        <td>{{c.agemini}}</a></td>
        <td>{{c.nbplaces}}</td>
    {% else %}
        <tr>
            <td>Aucun cours n'a été trouvé.</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>